@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Oswald', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 0.75rem;
}